@import url('https://fonts.googleapis.com/css2?family=Italiana&family=Roboto:ital,wght@0,400;0,900;1,400&display=swap');


html {
    font-size: 62.5%;
    line-height: 1.25;
    body {
      font-family: $font-main;
    }
  }
  
  p,
  span {
    font-size: 1.4rem;
  }
  
  a {
    font-weight: 600;
  }
  