// Breakpoints for media queries:
$layout-breakpoint-large: 1920px;
$layout-breakpoint-medium: 1440px;
$layout-breakpoint-small: 960px;
$layout-breakpoint-xsmall: 480px;

// Colors
$background: #f0eff1;
$white: #fff;
$black: #24242a;

// Fonts: 
$font-header:  'Italiana', serif;
$font-main: 'Roboto', sans-serif;

//codepen decorated letter:
$background-letter: #F4F2E6;
$font-color: #C7D6C0;
$layer: #F1D49D;
$a: -3px;
$b: 0px;
$c: -3px;