.detailed-information {
    margin-top: 200px;
    // height: 600px;

    .about-container {
        .about-row {
            display: flex;
            justify-content: space-around;
            align-items: flex-end;

            .about-image {
                width: 300px;    
            }
            img {
                object-fit: cover;
                width: 100%;
            }

            .about-content {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
            }

            // h2 {
            //     font-size: 4rem;
            //   }
              p {
                text-align: center;
                font-size: 3rem;;
                line-height: 40px;
                font-weight: 600;
                width: 600px;
                color: $black;
            }
        }

    }
}

