.detailed-information {
    margin-top: 200px;
    @media (max-width: $layout-breakpoint-small) {
        margin-top: 0;       
    }

    .about-container {
        .about-row {
            display: flex;
            justify-content: space-around;
            align-items: flex-end;

            .about-image {
                width: 300px;    
            }
            img {
                object-fit: cover;
                width: 100%;
            }

            .about-content {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
            }
              p {
                text-align: center;
                font-size: 3rem;
                font-style: italic;
                line-height: 40px;
                font-weight: 400;
                width: 600px;
                color: $black;

                @media (max-width: $layout-breakpoint-small) {
                    font-size: 1.5rem;
                    width: 400px;
                    line-height: 1.5;
                }
            }
        }

    }
}

