.footer-nav {
    height: 200px;
    @media (max-width: $layout-breakpoint-medium) {
        padding: 0 72px;
        font-size: 1.6rem;
        height: auto;
      }
      @media (max-width: $layout-breakpoint-xsmall) {
        padding: 0 12px;
        height: 96px;
        font-size: 1.2rem;
    }

    .footer-container {
        flex-grow: 1;
        margin: 0 auto;
        padding: 0 32px;
        position: relative;
        width: auto;
        height: 100%;
    }
    .footer-flex-container {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        @media (max-width: $layout-breakpoint-medium) {
            flex-direction: column;
          }
        .footer-content {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: space-between;
            color: $black;
            font-size: 3rem;
            font-weight: 600;
            line-height: .5rem;
            flex: 1;
            height: 60px;
            .wider {
                flex: 2;
            }
        }
        .footer-social {
            display: flex;
            position: relative;
            a {
                position: relative;
                display: block;
                width: 5rem;
                height: 5rem;
                padding: 8px;
                svg {
                    width: 100%;
                    height: 100%;
                    fill {
                        color: $secondary;
                    }
                }

            }
        }
    }
}




