.header {
    font-size: 1.8rem;
    height: 156px;
    display: flex;
    justify-content: center;
    padding: 0 108px;
    color: $black;

    .header-inner {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .logo {
            font-weight: 700;
            font-size: 3.6rem;
            a {
                text-decoration: none;
                color: $black;
            }

        }
        .nav {
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            li {
                list-style: none;
                margin: 0 40px;
            }
            a {
                text-decoration: none;
                color: $black;
                white-space: nowrap;
            }
        }
        
        .contact {
            a {
                color: $black;
                text-decoration: none;
                border-bottom: 2px solid $black;
                padding-bottom: 12px;
                white-space: nowrap;

            }
        }
        .hamburger-menu {
            height: 56px;
            width: 56px;
            border-radius: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            transition: 0.2s cubic-bezier(0.215, 0.61, 0.355, 1);
            cursor: pointer;
            &.hover {
                background: darken($color: $white, $amount: 12);
            }
            span {
                width: 20px;
                height: 3px;
                margin: 2px 0;
                background: $black;
                display: block;
            }
            
        }
    }
}