.featured-video-section {
    margin: 200px 0 0;
    position: relative;
    a {
        margin-bottom: 200px;
        position: relative;
        display: block;
    }

    @media (max-width: $layout-breakpoint-small) {
        margin: 0;
        a {
            margin-bottom: 6em;
        }
    }
}
.video-section-container {
    flex-grow: 1;
    margin: 0 auto;
    padding: 0 32px;
    position: relative;
    width: auto;
    height: 100%;

    // @media (min-width: 1024px) {
    //     max-width: 960px;
    // }

    // @media (min-width: 1216px) {
    //     max-width: 1152px;
    // }

    // @media (min-width: 1408px) {
    //     max-width: 1244px;
    // }
}
.featured-content {
    // height: 480px;
    width: 100%;
    padding: 56px 124px;
    box-sizing: border-box;
    color: $white;

    @media (max-width: $layout-breakpoint-small) {
        padding: 3em;
    }
    .meta {
        display: flex;
        color: $white;
        position: absolute;
        h4 {
            font-size: 1rem;
            font-weight: 300;
            &:last-child {
                margin-left: 1rem;
            }
        }
    }
    .featured-title {
        color: $secondary;
        position: absolute;
        bottom: -128px;
        font-weight: 400;
        font-style: italic;
        font-size: 7rem;
        line-height: 90px;
        margin: 0;
        @media (max-width: $layout-breakpoint-small) {
            font-size: 3rem;
            line-height: normal;
        }
        .arrow {
            width: 120px;
            height: 80px;
            display: block;
            position: relative;
            overflow: hidden;
            @media (max-width: $layout-breakpoint-small) {
                display: none;
            }
            svg {
                position: absolute;
                top: 16px;
                left: -48px;
                width: 108px;
                path {
                    fill: $secondary;
                    &:hover {
                        fill: $black;
                    }
                }
            }
        }
    
    }
}

.flex-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


featured-video {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: auto;
    top: 0;
    display: block;
    overflow: hidden;
}

.featured-projects {
    button {
        background-color: $secondary;
        color: #fff;
        position: relative;
        padding: 1em;
        text-align: left;
        font-size: 1.4rem;
        line-height: 1;
        font-weight: 600;
        border: none;
        @media (max-width: $layout-breakpoint-small) {
            margin: 0 auto;
        }
        span {
            margin-right: 100px;
            display: block;
        }

        &:hover {
            background: $black;
            color: $white
        }

        // hamburger menu: on the button:
        &:before, &:after {
            content: '';
            position: absolute;
            top: 50%;
            right: 20px;
            width: 35px;
            height: 7px;
            display: block;
            background: #fff;
            transform: translateY(-50%);
        }
        &:before {
            margin-top: -8px;
    
        }
        &:after {
            margin-top: 8px;
        }
    }
    .flex-end {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }
}

